<!DOCTYPE html>
<html>
  <head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-N7DHX89');</script>
    <!-- End Google Tag Manager -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-179350646-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-179350646-1');
    </script>

    <title>Luiluilemon</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  
    <meta property="og:title" content="Luiluilemon" />
    <meta property="og:image" content="https://i.imgur.com/btDJkWO.png" />
    <meta property="og:url" content="https://luiluilemon.herokuapp.com/#/" />
    <meta property="og:description" content="Luiluilemon is an e-commerce website inspire by the athletic apparel company Lululemon. Technologies: React, Redux, Javascript, Ruby on Rails, PostgreSQL, HTML5, CSS3" />


    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('blackfavicon.ico') %>
    <meta name=“viewport” content=“width=device-width, initial-scale=1" />
    <script type="text/javascript">
      window.mainpageimage2 = "<%= image_url('lulusplash.jpg') %>";
      window.mainpageimage3 = "<%= image_url('newmainpage.jpg') %>";
      window.shorts = "<%= image_url('pacebreakblk2.jpg') %>";
      window.shorts2 = "<%= image_url('blackthe3.webp') %>";
      window.shorts3 = "<%= image_url('pacebreakwhite2.jpg') %>";
      window.shorts4 = "<%= image_url('whiteshorts.webp') %>";
      window.navlogo2 = "<%= image_url('goldlogo.png') %>";
      window.pinkjogger = "<%= image_url('pinkjogger.jpg') %>";
      window.pinkjogger2 = "<%= image_url('pinkjogger2.jpg') %>";
      window.greyjogger = "<%= image_url('greyjogger.jpg') %>";
      window.greyjogger2 = "<%= image_url('greyjogger2.jpg') %>";
      window.metal = "<%= image_url('metal.png') %>";
      window.metal1 = "<%= image_url('metal1.png') %>";
      
    </script>
    <script src="https://kit.fontawesome.com/07e3f56f33.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N7DHX89"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <%= yield %>
  </body>
</html>
