<!DOCTYPE html>
<html>
  <head>
    <title>Luiluilemon</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  
    <meta property="og:title" content="Luiluilemon" />
    <meta property="og:image" content="../../assets/images/luiluilemon.png" />
    <meta property="og:url" content="https://luiluilemon.herokuapp.com/#/" />
    <meta property="og:description" content="Luiluilemon is an e-commerce website inspire by the athletic apparel company Lululemon. Technologies: React, Redux, Javascript, Ruby on Rails, PostgreSQL, HTML5, CSS3" />


    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('blackfavicon.ico') %>
    <meta name=“viewport” content=“width=device-width, initial-scale=1" />
    <script type="text/javascript">
      window.mainpageimage2 = "<%= image_url('lulusplash.jpg') %>";
      window.mainpageimage3 = "<%= image_url('newmainpage.jpg') %>";
      window.shorts = "<%= image_url('pacebreakblk2.jpg') %>";
      window.shorts2 = "<%= image_url('blackthe3.webp') %>";
      window.shorts3 = "<%= image_url('pacebreakwhite2.jpg') %>";
      window.shorts4 = "<%= image_url('whiteshorts.webp') %>";
      window.navlogo2 = "<%= image_url('goldlogo.png') %>";
      window.pinkjogger = "<%= image_url('pinkjogger.jpg') %>";
      window.pinkjogger2 = "<%= image_url('pinkjogger2.jpg') %>";
      window.greyjogger = "<%= image_url('greyjogger.jpg') %>";
      window.greyjogger2 = "<%= image_url('greyjogger2.jpg') %>";
      window.metal = "<%= image_url('metal.png') %>";
      window.metal1 = "<%= image_url('metal1.png') %>";
      
    </script>
    <script src="https://kit.fontawesome.com/07e3f56f33.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
