<!DOCTYPE html>
<html>
  <head>
    <title>Lululemon</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
      window.mainpageimage = "<%= image_url('lulumain2.jpg') %>";
      window.shorts = "<%= image_url('LM7AJNS_044099_1.webp') %>";
      window.shorts2 = "<%= image_url('blackshorts.webp') %>";
      window.shorts3 = "<%= image_url('whiteshorts.webp') %>";
      window.shorts4 = "<%= image_url('blueshorts.webp') %>";
      window.navlogo = "<%= image_url('pinklogo.jpg') %>";
      window.navlogo2 = "<%= image_url('goldlogo.png') %>";
    </script>
    <script src="https://kit.fontawesome.com/07e3f56f33.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
